.section-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-login {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 32px;
  border-radius: var(--radius-primary);
  backdrop-filter: blur(10px);
  background-color: var(--color-dark-grey);
}

.header-title-auth {
  margin: 24px auto;
  text-transform: capitalize;
  text-align: center;
}

.header-action-auth {
  padding: 8px;
  background-color: var(--color-default);
  border-radius: var(--radius-primary);
  margin-top: 40px;
  margin-bottom: 120px;
}

.header-action-register,
.header-action-signIn {
  width: 100%;
  padding: 16px;
  color: var(--color-secondary);
  font-size: var(--font-size-default);
  background-color: transparent;
  border-radius: var(--radius-primary);
  cursor: pointer;
  transition: .4s;
}

.header-action-auth .active {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-secondary);
}

.header-auth {
  background-color: transparent;
  padding: 36px 0;
  top: 0;
}

/* Form  */
.form-login {
  color: var(--color-secondary);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form-input.form-control {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  display: block;
  width: 100%;
  height: 38px;
  background: 0 0;
  padding: 0 4px;
  font-size: var(--font-size-default);
  color: var(--color-secondary);
}

.form-input.form-control::placeholder {
  color: var(--color-secondary);
}

.input-group {
  margin: 0px auto 56px;
}

.form-login .btn {
  width: 100%;
}

.btn-submit {
  width: 100%;
  padding: 16px 0;
  border-radius: 8px;
  font-size: var(--font-size-default);
  text-transform: uppercase;
  background-color: var(--color-default);
  color: var(--text-white-color);
  cursor: pointer;
}

.error-message {
  margin-top: 5px;
  color: var(--color-error);
  font-size: 12px;
}
